node_modules
illustrations/videos
storage/accounts
storage/accounts(dev)
storage/blocks
storage/blockchainInfo.csv
storage/nodeSettings.json
nodePrivateKeys.json
nodes-data
config/config.json
peer-reputation.json
logs/app.log